<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    <h1>Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tenetur
      facilis, nostrum aliquam minus beatae commodi fugiat maiores odio sunt
      doloremque a error ipsa veritatis, accusantium mollitia, aspernatur saepe
      iste.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate sed
      sunt aliquid perferendis debitis velit dolore inventore esse culpa illum
      doloribus commodi natus, cum, eos placeat quis. Possimus, unde dolore.
    </p>
  </body>
</html>
